# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
*.log
nosetests.xml
test_*.xml
tox.log
*.nib

# Pytest
.cache
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.envrc
venv/
ENV/
env/
venv.bak/
env.bak/

# Migrations
migrations/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# pytype
.pytype/

# React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.pnp/
frontend/.pnp.js
frontend/coverage/
frontend/.cache/
node_modules
